{% extends 'shop/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="{{ product.image }}" width=100% height=100% alt="product-image" class="card-img-top" style="height: 300px; width: 200px object-fit: none;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-warning dispay-3">
                {{ product.title }}
            </div>
            <div class="text-danger">
                $ {{product.price }}
            </div>
            <div>
                {{ product.description }}
            </div>
            <div><button id="{{ product.id }}" class="btn ted btn-success">Ajouter</button></div>
        </div>
    </div>

{% endblock %}

{% block js %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        console.log('Juste pour tester');
        var panier = localStorage.getItem('panier') ? JSON.parse(localStorage.getItem('panier')) : {};
        document.getElementById("panier").innerHTML = "Panier(" + Object.keys(panier).length + ")";
        $(document).on('click', '.ted', function () {
            console.log("ajouter");
            var item_id = this.id.toString();
            console.log(item_id);
            if (panier[item_id] !== undefined) {
                quantite = panier[item_id][0] + 1;
                panier[item_id][0] = quantite;
                panier[item_id][2] += parseFloat(document.getElementById('price'+ item_id).innerHTML);
            } else {
                quantite = 1;
                prix = parseFloat(document.getElementById('price'+ item_id).innerHTML);
                nom = document.getElementById("aa" + item_id).innerHTML;
                panier[item_id] = [quantite, nom, prix];
            }
            console.log(panier)
            localStorage.setItem('panier', JSON.stringify(panier));
            document.getElementById("panier").innerHTML = "Panier(" + Object.keys(panier).length + ")";
            AfficherList(panier);
        });
        function AfficherList(panier) {
            var panierString = "<h5>Voici votre liste</h5>";
            var index = 1;
            for (var x in panier) {
                var productElement = document.getElementById("aa" + x);
                if (productElement) {
                    panierString += index + ". " + productElement.innerHTML + " Qte: " + panier[x][0] + "</br>";
                    index += 1;
                } 
            }
            panierString += "<a href= '/checkout' class='btn btn-primary'>Checkout</a>";
            $('[data-toggle="popover"]').popover(); document.getElementById('panier').setAttribute('data-content', panierString);
        }
        AfficherList(panier);
    });
</script>

{% endblock %}