{% extends "shop/base.html" %}

{% block content %}
    <div class="form-container">

        <!-- Affichage des messages -->
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            <h2>Register</h2>
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit">Register</button>
        </form>
    </div>
{% endblock %}

